body {
  height: 590px;
  background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
  display: flex;
  justify-content: center;
  margin-top: 7%;
  text-align: center;
}

main {
  height: 60%;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  color: white;
}

h1 {
  font-size: 30px;
  font-weight: 600; 
}

.cronometro {
  font-family:'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 90px;
  margin: 30px;
}

.buttons {

  button {
    width: 80px;
    height: 45px;
    margin: 10px;
    margin-top: 35px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.049);
    font-size: 17px;
    font-weight: 600;
    color: white;
  }
}

@media (width-max: 800){
  body{
    background-color: black;
  }
}